<a href="https://colab.research.google.com/github/JoseLobos/Programacion-3/blob/main/Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola Mundo", "Bienvenidos a Programacion Computacional III, con Python")
print("Mi nombre es: ", "Jose Lobos")

hola Mundo Bienvenidos a Programacion Computacional III, con Python
Mi nombre es:  Jose Lobos

In [ ]:
nombre = "Jose Lobos"
print("Hola ", nombre, type(nombre))

nombre = 17
print("Tu edad es: ", nombre + 2, type(nombre))

Hola  Jose Lobos <class 'str'>
Tu edad es:  19 <class 'int'>

In [ ]:
nombre = "Jose Lobos"
print("Tu nombre es: ", nombre, "Longitud de tu Nombre: ", len(nombre), "Iniciales: ", nombre[0],nombre[5])

Tu nombre es:  Jose Lobos Longitud de tu Nombre:  10 Iniciales:  J L

In [ ]:
num1 = 5
num2 = 4.6
resp = num1 + num2
print("La suma de num1: ", num1 , " + num2: ", num2, "es igual a: ", resp)

La suma de num1:  5  + num2:  4.6 es igual a:  9.6

In [ ]:
num1 = float(input("Ingrese un numero entero: "))
num2 = float(input("Ingrese otro Num decimal: "))
resp = num1 + num2
print("SUma", resp, type(resp))

Ingrese un numero entero: 7
Ingrese otro Num decimal: 3
SUma 10.0 <class 'float'>

In [ ]:
nombre = input("Dime tu nombre: ")
print(nombre, type(nombre), len(nombre))

print(nombre[0], nombre[1], nombre[2], nombre[3])

Dime tu nombre: Jose
Jose <class 'str'> 4
J o s e

In [ ]:
resp = 4 - 4 * 6 / 2 + 1
print(resp)

-7.0

In [ ]:
gustaProgramacion = True 
print("Te gusta programar: ", gustaProgramacion)

gustaDiseno = False
print("Te gusta diseñar: ", gustaDiseno)

Te gusta programar:  True
Te gusta diseñar:  False

In [ ]:
def suma(num1, num2):
  return num1 + num2
print("La suma de 5 + 7 = ", suma(5,7))

La suma de 5 + 7 =  12

In [ ]:
def suma(num1, num2):
  return num1 + num2
num1 = float(input("Dime un numero: "))
num2 = float(input("Dime otro numero: "))

print("La suma es: ", suma(num1, num2))

Dime un numero: 5
Dime otro numero: 4
La suma es:  9.0

In [ ]:
suma = lambda num1,num2: num1 + num2

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print( "La respuesta es: ", suma(num1, num2))

Num1: 5
Num2: 4.5
La respuesta es:  9.5

In [ ]:
lista = [2,7,8,6,9]

In [ ]:
cuadrado = lambda num: num**2

In [ ]:
print( type(cuadrado) )

<class 'function'>

In [ ]:
cubo  = lambda num: num**3

In [ ]:
potencia = lambda num, n: num**n

In [ ]:
print("Lista: ", lista, " al cuadrado: ", list( map(cuadrado, lista) ), " al cubo: ", list(map(cubo, lista)) )

Lista:  [2, 7, 8, 6, 9]  al cuadrado:  [4, 49, 64, 36, 81]  al cubo:  [8, 343, 512, 216, 729]

In [ ]:
print( "2 al cubo es: ", potencia(4, 5) )

2 al cubo es:  1024

In [ ]:
print("Lista Original: ", lista, " al cubo: ", list(map(lambda num: num**3, lista)) )

Lista Original:  [2, 7, 8, 6, 9]  al cubo:  [8, 343, 512, 216, 729]

In [ ]:
fpares = lambda num: num%2==0

In [ ]:
fimpares = lambda num: num%2!=0

In [ ]:
print("Lista original: ", lista, " solo pares: ", list(filter(fpares, lista)), " los impares: ", list(filter(fimpares, lista)) )

Lista original:  [2, 7, 8, 6, 9]  solo pares:  [2, 8, 6]  los impares:  [7, 9]

In [ ]:
c= 27

In [ ]:
def convertirCaF(c):
  return c*9/5 + 32

In [ ]:
print("Celsius a F: ", convertirCaF(c))

Celsius a F:  80.6

In [ ]:
gradosCiudades = [27, 30, 32, 35, 40, 45]

In [ ]:
print(gradosCiudades, "Respuesta: ", list(map(convertirCaF, gradosCiudades)) )

[27, 30, 32, 35, 40, 45] Respuesta:  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
gradosf = [80.6, 86, 89.6, 95, 104, 113]

In [ ]:
def convertirFaC(f):
  return (f-32) * 5/9

In [ ]:
print(gradosf, " Respuesta: ", list(map(convertirFaC, gradosf)) )

[80.6, 86, 89.6, 95, 104, 113]  Respuesta:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

In [ ]:
print(gradosf, " Respuesta: ", list(map(lambda f: (f-32)*5/9, gradosf)) )

[80.6, 86, 89.6, 95, 104, 113]  Respuesta:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

TAREA

Hacer un algoritmo en python que convierta de grados Celsius a Kelvin y viceversa, usando funciones de usuario y lambda. 

Celsius a kelvin

In [ ]:
gradoscel = [28, 31, 33, 36, 41, 46]

In [ ]:
def convertirCaK(c):

  return c+273.15

In [ ]:
print(gradoscel, " Respuesta: ", list(map(lambda c: c+273.15, gradoscel)) )

[28, 31, 33, 36, 41, 46]  Respuesta:  [301.15, 304.15, 306.15, 309.15, 314.15, 319.15]



Kelvin a Celsius

In [ ]:
gradoskel = [301.15, 304.15, 306.15, 309.15, 314.15, 319.15]

In [ ]:
def convertirCaK(k):

  return k-273.15

In [ ]:
print(gradoskel, " Respuesta: ", list(map(lambda k: k-273.15, gradoskel)) )

[301.15, 304.15, 306.15, 309.15, 314.15, 319.15]  Respuesta:  [28.0, 31.0, 33.0, 36.0, 41.0, 46.0]

Celsius a kelvin que el usuario ingrese datos

In [2]:
c = float(input("Ingrese los grados Celsius para convertirlos a Kelvin: "))
def CaK(c):
  Resultado= c + 273.15
  return Resultado

print(CaK(c))

Ingrese los grados Celsius para convertirlos a Kelvin: 27
300.15

Kelvin a Celsius que el usuario ingrese datos

In [3]:
c = float(input("Ingrese los grados Kelvin para convertirlos a Celsius: "))
def CaK(c):
  Resultado= c - 273.15
  return Resultado

print(CaK(c))

Ingrese los grados Kelvin para convertirlos a Celsius: 300.15
27.0

Celsius a kelvin que el usuario ingrese datos con lambda

In [4]:
conversionCaK =lambda c: c +273.15
Gradosc= float(input("Ingrese los grados Celsius para convertir a Kelvin:"))
print(conversionCaK(Gradosc))

Ingrese los grados Celsius para convertir a Kelvin:27
300.15

Kevil a Celsius que el usuario ingrese datos con lambda

In [5]:
conversionCaK =lambda c: c -273.15
Gradosc= float(input("Ingrese los grados Kelvin para convertir a Celsius: "))
print(conversionCaK(Gradosc))

Ingrese los grados Kelvin para convertir a Celsius: 300.15
27.0

Tarea 
Hacer un algoritmo en python que encuentre la Nota Final de Ciclo de una Materia en Particular usando funciones de usuario y lambda.

In [6]:
print("Ingrese las notas de el primer computo:")
lab1C1=float(input())
lab2C1=float(input())
Parcial1=float(input())
print("Ingrese las notas de el segundo computo:")
lab1C2=float(input())
lab2C2=float(input())
Parcial2=float(input())
print("Ingrese las notas de el tercer computo:")
lab1C3=float(input())
lab2C3=float(input())
Parcial3=float(input())

def notas(a,b,c):
  total= (a *0.3) + (b *0.3)+ (c *0.4)
  return total

comp1=notas(lab1C1,lab2C1,Parcial1)
comp2=notas(lab1C2,lab2C2,Parcial2)
comp3=notas(lab1C3,lab2C3,Parcial3)

notaFinal= (comp1 + comp2 + comp3)/3
print(notaFinal)

Ingrese las notas de el primer computo:
5
5
5
Ingrese las notas de el segundo computo:
5
5
5
Ingrese las notas de el tercer computo:
5
5
5
5.0